<!DOCTYPE html>
<html>
  <head>
    <title>Vehicle Superstore</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/styles.css'>

  </head>
  <nav>
    <a href='/'>Home</a>
  </nav>
  <body>
    <style>
      div {
        background: url(img/Vehicle_Index.jpg);
        background-size: cover;
        background-repeat: no-repeat;
      }
    </style>
    <div class='container'>
      <%= yield %>
  </body>
</html>